.itemContainer{
    width: 300px;
    border: 3px solid coral;
    border-radius: 20%;
    margin-top: 20px;
    box-shadow: 10px 5px 5px rgb(194, 191, 191);
}


 .info_btn {
    background-color: #ff7f50; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
     border-radius: 10%; 
     transition-duration: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out; 
    margin-bottom: 15px
} 

.info_btn:hover{
    background-color: white;
    color: coral;
}

.info_btn a:hover {
    background-color: white;
    color: coral;
}

.info_btn > a {
    text-decoration: none;
    color: white;

}

.imgItemBack{
    display: none;
}


