.itemContainer{
    width: 300px;
    border: 3px solid coral;
    border-radius: 20%;
    margin-top: 20px;
    box-shadow: 10px 5px 5px rgb(194, 191, 191);
}


.productDetails > button {
    background-color: coral; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    /* border-radius: 15%; */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-bottom: 15px
}

.productDetails > button:hover {
    background-color: rgb(252, 91, 32); /* Green */
    border: 2px solid black
}