.item-container{
width: 320px;
background-color: #ffffff;
border-radius: 10px;
color: black;
font-weight: bold;
font-size: large;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding-bottom: 60px;
display: inline-block;

}


.div-buttons > p{
    position: relative;
    top: -10px;
}

.btn-count{
    background-color: #41a36d; 
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 10%;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-bottom: 15px;
}

.btn-count #btn2{
    padding-left: 6px;
    margin-left: 10px;
}



.btn-count #btn1 {
    margin-right: 10px;
    margin-left: 0px;
}

.btn-cart{
    background-color: #41a36d; 
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    position: relative;
    top: 50px;
    left: -9px;
}

button:hover {
    background-color: #2b9159; 
}